body{
    background: url('bg.jpg');
}
#board{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    border: 2px solid white;
    background: url('bg1.gif'), black;
    background-blend-mode: lighten;
    background-size: cover;
    background-position-x: center;
}
#jet{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('cat.gif');
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}
.bullets{
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 30px;
    height: 30px;
    background-image: url('bullet.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: hue-rotate(320deg);
}
.rocks{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url('cu.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
#points {
    position: absolute;
    top: 0px;
    margin: 40px;
    opacity: 0.7;
    font-size: 10em;
    color: white;
}